@model IEnumerable<Comsume_API.Models.Coin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="@Url.Action("Index","Coin" )" method="get" style="display:flex">
  <div class="form-group">
      <label for="Category"> Category</label>
    <select class="form-select" aria-label="Category" style="width: 200px" name="category_id">
        <option value="" selected>All</option>
            @foreach (var category in ViewBag.Category)
            {
                       <option value="@category.category_id ">@category.name</option> 
            }
</select>
  
  </div>

<div class="form-group">
    <div class="input-group" style="margin-left: 20px">
  <div class="form-outline">
      <label>Coins</label>
  <select class="form-select" aria-label="Category" style="width: 200px" name="id">
        <option value="" selected>All</option>
                    @foreach (var category in ViewBag.ListCoin)
                    {
                               <option value="@category.id ">@category.name</option> 
                    }
</select>
  
  </div>
  <button id="search-button" type="submit" class="btn btn-primary" style="height: 36px;margin-top: 33px">
    Search
  </button>
</div>


  </div>


</form>

<table class=" table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.current_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.market_cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.high_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.low_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_change_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_change_percentage_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.market_cap_change_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.market_cap_change_percentage_24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.circulating_supply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_supply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ath_change_percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ath_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.atl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.atl_change_percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.atl_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
                 <td>
                         <img src="@Html.DisplayFor(modelItem => item.image)" style=" width: 20px; height: 20px" class="rounded"/>
                    
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.current_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.market_cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.high_24h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.low_24h)
            </td>
                @if (item.price_change_24h < 0)
                {
                             <td class="text-light bg-danger">
                        @Html.DisplayFor(modelItem => item.price_change_24h)
                    </td>
                                    <td class="text-light bg-danger">
                        @Html.DisplayFor(modelItem => item.price_change_percentage_24h)
                    </td>
                }else if (item.price_change_24h > 0)
                {
                                    <td class="text-light bg-success">
                        @Html.DisplayFor(modelItem => item.price_change_24h)
                    </td>
                                 <td class="text-light bg-success">
                        @Html.DisplayFor(modelItem => item.price_change_percentage_24h)
                            </td>
                }
                else
                {
                                <td class="text-light bg-warning">
                        @Html.DisplayFor(modelItem => item.price_change_24h)
                            </td>
                                     <td class="text-light bg-warning">
                        @Html.DisplayFor(modelItem => item.price_change_percentage_24h)
                                    </td>
                }
           
            
            <td>
                @Html.DisplayFor(modelItem => item.market_cap_change_24h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.market_cap_change_percentage_24h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.circulating_supply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_supply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ath_change_percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ath_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.atl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.atl_change_percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.atl_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_updated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
